<h1>Listing players</h1>

<p><%= link_to 'Show hidden players', hidden_players_path %> • <%= link_to 'List games', games_path %> • <%= link_to 'New Player', new_player_path %></p>

<%= render :partial => 'list' %>
