<div class="board">
  <h1>Most Games Played</h1>

  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat"># of games</th>
    </tr>
    <% sorted_by_number_of_games(@players).each_with_index do |player, i| %>
    <tr<%=raw ' class="top"' if i < 3 %>>
      <td class="order"><%= i + 1 %></td>
      <td class="name"><%= player.name %></td>
      <td class="stat"><%= player.games.count %></td>
    </tr>
    <% end %>
  </ul>
</div>
