// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  a{
    font-weight: normal;
    font-size: 12px;
  }
}

form#new_game{
  position: relative;
  width: 597px;
  height: 348px;
  background: image-url('pitch.jpg') no-repeat;

  div.field{
    background: white;
    padding: 3px;
    border: 3px solid black;

    label{
      display: block;
      text-align: center;
    }
  }

  #field_white_offense{
    position: absolute;
    top: 20px;
    left: 201px;
  }

  #field_white_defense{
    position: absolute;
    top: 20px;
    left: 375px;
  }

  #field_blue_offense{
    position: absolute;
    top: 255px;
    left: 256px;
  }

  #field_blue_defense{
    position: absolute;
    top: 255px;
    left: 12px;
  }

  #field_white_score{
    position: absolute;
    top: 110px;
    right: 0px;

    select{
      width: 100px;
    }
  }

  #field_blue_score{
    position: absolute;
    top: 110px;
    left: 0px;

    select{
      width: 100px;
    }
  }

  .actions{
    position: absolute;
    top: 123px;
    left: 153px;
    text-align: center;

    input{
      font-size: 48px;
      -webkit-appearance: button;
      border: 3px solid black;
    }
  }
}

table.game_list{
  border-collapse: collapse;

  td, th{
    padding: 1px 5px;
  }

  .winner{
    font-weight: bold;
  }

  .winner_blue{
    border-top: 1px solid white;
    background: #BFBFFF;
  }

  .winner_white{
    border-top: 1px solid #BFBFFF;
  }
}